<h1 class="text-center page-header">New Message</h1>

<% if @message.errors.any? %>
  <p>Something went wrong!</p>
  <ul>
    <%= @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for [current_user, @message] do |f| %>
  <%= f.input :to %>
  <%= f.input :from %>
  <%= f.input :body %>
  <%= f.button :submit, "Send", data: {disable_with: 'Send'} %>
<% end %>
